    <section class="nav">

        <% user = @api.user.get %>

        <div class="left"><h2><a href="/">Lorem Title</a></h2></div>
        <div class="right">
            <figure><img src="https://graph.facebook.com/<%= user.body['id'] %>/picture?type=square"></figure>
            <span><%= user.body['name'] %> <small> (&euro;<%= (user.body['money']/100.00).round(2) %>)</small></span> <a href="/logout">Logout</a></div>


    </section>
