<%= erb :_header %>
<%= erb :_menu %>
    <section class="content">

        <% article = @api.article.where(id: object_id) %>
        <article class="card large">
            <header>
                <%= article.body['name'] %>
            </header>
            <figure><img src="http://lorempixel.com/400/<%= ( 201 + rand(20 )) %>"></figure>
            <section>
                <%= article.body['content'] %>
            </section>
        </article>
    </section>
    <section class="content reactions">
            <% @api.reactions.where(id: object_id).get.each do |reaction| %>
                <div class="comment">
                    <div>

                        <figure><img src="https://graph.facebook.com/<%= reaction.user['id'] %>/picture?type=square"></figure>
                        <h3><%= reaction.user['name'] %></h3>
                    </div>
                    <content><p><%= reaction.content %></p></content>
                </div>

            <% end %>
        <form method="POST" action="/reaction">
            <textarea name="content">Schrijf een reactie...</textarea>
            <input type="hidden" value="<%= object_id %>" name="id">
            <input class="submit" type="submit" value="send">
        </form>
    </section>
    <a href="/" id="back">Go Back</a>
<%= erb :_footer %>