 <%= erb :_header %>
 <%= erb :_menu %>
    <section class="content">


<article class="card">
        <h3>Buy History</h3>
            <table>
              <tr>
                <th>Article</th>
                <th>Price</th>
              </tr>
            <% @api.purchases.get.each do |pur| %>

                    <tr><td><a href="/article/<%= pur.article_id %>"><%= pur.name %></a></td><td>&euro; <%= (pur.price/100.00).round(2) %></td></tr>

            <% end %>
            </table>
        </article>
        <% @api.articles.get.each do |article| %>
            <article class="card">
                <header>
                    <%= article.name %>
                </header>
                <figure><img src="http://lorempixel.com/400/<%= ( 201 + rand(20 )) %>"></figure>
                <section>
                    <%= article.content_sample %>
                </section>


                <% if article.is_bought %>
                    <a href="/article/<%= article.id %>">Read the article</a>
                <% else %>
                    <a href="/buy/<%= article.id %>">buy this article for &euro;<%= (article.price/100.00).round(2) %> </a>
                <% end %>
            </article>
        <% end %>

<%= erb :_footer %>
