* {
    margin:0;
    padding:0;
}
body {
    font-family:verdana;
    background:#eee;
}
p {
    line-height:1.6;
}
.nav {
    z-index: 200;
    position:fixed;
    top:0;
    right:0;
    left:0;
    width:100%;
    height:57px;
    background:#fff;
}
.nav figure {
    overflow:hidden;
    width:45px;
    height:45px;
    margin:-10px 15px;
    display:inline-block;
    float:left;
    border-radius:50%;
}
.nav .left {
    float:left;
    padding: 15px 20px;
}

.nav .left a{
    color:#ccc;
    text-decoration:none;
    font-weight:100;
}

.nav .right {
    float:right;
    padding: 15px 20px;
}
.content {
    padding-top:70px;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
}
.card {
    position: relative;
    float:left;
    background:white;
    border-radius:.1em;
    margin:25px 25px 0 0;
    width:400px;
    max-height:550px;
    overflow-y: scroll;
    box-shadow:4 4 0 #ccc;
    padding-bottom:40px;
}

.card h3{text-align:center; padding:15px; font-weight:100;}
.card header {
    font-size:1.3em;
    font-weight:100;
    padding:25px 25px;
}
.card figure {
    width:100%;
    height:200px;
    overflow:hidden;
}
.card section {
    padding:25px;
    font-size:.8em;
    line-height:2.1;
    color:#666;
    display:inline-block;
}
.large {
    width:960px;
    margin:0 auto;
    float:none;
    position:relative;
}
.card a {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    text-decoration:none;
    display:inline-block;
    padding:10px 20px;
    color: white;
    background:orange;
    text-align: center;
    width:calc(100% - 40px);
}
table {
    width:100%;
    table-layout: fixed
}
.card table tr td a {
    background:none;
    color:orange;
    position:relative;

}
table td:nth-child(2) {
    text-align:center;
}
table tr td {
    border-top:1px solid #ccc;
}
table th {
    padding:10px;
}
#landing .box {
    margin-left:-200px;
    left:50%;
    box-shadow:4 4 0 #ccc;
    width:400px;
    top:50%;
    margin-top:-100px;
    position:fixed;
    height:200px;
    background:white;
    border-radius:.4em;
    text-align:center;
}
#landing .box a {
    display:inline-block;
    background: url('http://i.stack.imgur.com/Vk9SO.png');
    width:300px;
    height:46px;
    text-decoration:none;
    content:"";
}
#landing .box h2 {
    padding:40px;
    font-weight:100;
}
#back {
    position:fixed;
    left:0;
    bottom:100px;
    background:white;
    display:block;
    color:orange;
    padding:25px;
    text-decoration:none;
    font-size:.6;
}
#landing {
    width:100%;
    height:100%;
    position:absolute;
    background: url('http://bossfight.co/wp-content/uploads/2016/02/boss-fight-free-high-quality-stock-images-photos-photography-sun-cliffs-sky-ocean.jpg');
    background-size:cover;
}


.reactions{
    width:960px;
    margin:0 auto;

}

.reactions .comment{
    background:white;
    float:left;
    height:auto;
    width:100%;
    padding:20px;
    margin:20px 0;

}

.reactions .comment p{
    line-height:1.4;
    font-size:.8em;
}

.reactions .comment figure{
    border-radius:50%;
    width:40px;
    height:40px;
    overflow:hidden;
    float:left;
    margin:24px;
}



.reactions .comment h3{
    font-weight:100;
    padding:20px 0 0 20px;
}

.reactions form{
    width:100%;
    float:left;
}

.reactions form textarea{
    width:calc(100% - 40px);
    border:none;
    font-family:verdana;
    font-size:1.8;
    padding:20px;
}

.reactions form .submit{
    border:none;
    padding:10px 40px;
    float:right;
    margin:20px 0;
    background:orange;
    color:white;
    font-size:1.4em;
}